fastapi
uvicorn[standard]
celery[redis]
python-dotenv
ffmpeg-python
pydantic-settings
torch
torchaudio
transformers
accelerate
insanely-fast-whisper

# For development, you might want to add:
# watchfiles
